{% load i18n forms %}
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <ul class="nav nav-tabs">
      <li class="active"><a href="#username" data-toggle="tab">Invite by username</a></li>
      <li><a href="#email" data-toggle="tab">Invite by email</a></li>
      <li><a href="#add" data-toggle="tab">Add members</a></li>
    </ul>

    <div class="tab-content">
      <div id="username" class="tab-pane active">
        <form class="ajaxForm" method="post" action="{% url 'teams:invite' team.slug %}" class="team-invite">
          {% csrf_token %}
          {% include "future/forms/non-field-errors.html" with errors=form.non_field_errors %}
          {{ form.usernames|render_field_reverse_required }}
          {{ form.role|render_field }}
          {{ form.message|render_field }}
          <button type="submit" class="button cta"> {% trans 'Invite' %}</button>
        </form>
      </div>
      <div id="email" class="tab-pane">
        <form class="ajaxForm" method="post" action="{% url 'teams:invite' team.slug %}" class="team-invite">
          {% csrf_token %}
          {% include "future/forms/non-field-errors.html" with errors=form.non_field_errors %}
          {{ form.email|render_field_reverse_required }}
          {{ form.role|render_field }}
          {{ form.message|render_field }}
          <button type="submit" class="button cta"> {% trans 'Invite' %}</button>
        </form>
      </div>
      <div id="add" class="tab-pane">
        Add members
      </div>
    </div>
  </div>
</div>


