{% load i18n forms %}
<div class="modal-dialog" role="document">
  <div class="modal-content">
    <form class="ajaxForm" method="POST" action="{{ request.get_full_path }}" enctype="multipart/form-data">
      <header class="dialogHeader">
        <h4 class="dialogTitle">
          {% blocktrans count count=selection_count %}Editing user{% plural %}Editing {{ count }} users{% endblocktrans %}
        </h4>
        <h4 class="dialogSubtitle">
          {% blocktrans count count=selection_count %}Change member role{% plural %}Change member roles{% endblocktrans %}
        </h4>
      </header>
      <div class="modal-body">
        {% csrf_token %}
        {% include "future/forms/non-field-errors.html" %}
        {% if form.include_all %}
        {% render_field form.include_all %}
        {% endif %}
        {% render_field form.role %}
        <div class="projectsAndLanguagesSelectors" {% if not show_proj_lang_selectors %}hidden{% endif %}>
          {% render_field form.projects reverse_required=True %}
          {% render_field form.languages reverse_required=True %}
        </div>
      </div>
      <div class="modal-footer">
        <button class="button cta-reverse" data-dismiss="modal">Cancel</button>
        <button class="button cta" type="submit">Change</button>
      </div>
    </form>
  </div>
</div>
