{% extends "styleguide/base.html" %}
{% load forms %}
{% block "content" %}
<h2>{{ section.title }}</h2>

<p>
Use these to display a series of checkboxes, where each one implies the one
before.  A common case is permissions, where if you give a permission to one
role, then you always want to give it to the "higher" roles.
</p>

<form method="POST">
  {% csrf_token %}
  {{ form.role|render_field }}
  <div class="form-actions">
    <button class="button cta" type="submit">Submit</button>
  </div>
</form>

<p>
{% if form.is_valid %}
Submitted role: {{ form.cleaned_data.role  }}
{% endif %}
</p>
{% endblock %}
