{% extends "styleguide/base.html" %}
{% load forms %}
{% block "content" %}
<p>
Workflow diagram used in the futureui workflow settings page
</p>

<div class="workflowDiagramContainer">    
    <div class="workflowDiagramSegment first workflowStep" data-duration="1">
        <i class="icon icon-transcribe icon-sm-to-md"></i>
        <span class="segmentLabel">Transcribe</span>
        <span>2 days</span>
    </div>
    <div class="workflowDiagramSeparator">
        <svg class="workflowDiagramSeparatorSVG">
            <polygon class="triangle" points="0,0 30,65 0,130"/>
        </svg>
        <svg class="workflowDiagramSeparatorSVG">
            <polygon class="gap" points="0,0 5,0 35,65 5,130 0,130 30,65"/>
        </svg>
    </div>

    <div class="workflowDiagramSegment workflowStep" data-duration="999">
        <i class="icon icon-review icon-sm-to-md"></i>
        <span class="segmentLabel">Review</span>
        <span>3 days</span>
    </div>
    <div class="workflowDiagramSeparator">
        <svg class="workflowDiagramSeparatorSVG">
            <polygon class="triangle" points="0,0 30,65 0,130"/>
        </svg>
        <svg class="workflowDiagramSeparatorSVG">
            <polygon class="gap" points="0,0 5,0 35,65 5,130 0,130 30,65"/>
        </svg>
    </div>

    <div class="workflowDiagramSegment workflowStep" data-duration="1">
        <i class="icon icon-approve icon-sm-to-md"></i>
        <span class="segmentLabel">Approve</span>
        <span>4 days</span>       
    </div>
    <div class="workflowDiagramSeparator">
        <svg class="workflowDiagramSeparatorSVG">
            <polygon class="triangle" points="0,0 30,65 0,130"  />
        </svg>
        <svg class="workflowDiagramSeparatorSVG">
            <polygon class="gap" points="0,0 5,0 35,65 5,130 0,130 30,65"/>
        </svg>
    </div>

    <div class="workflowDiagramSegment last">        
        <i class="icon icon-complete icon-sm-to-md"></i>
        <span class="segmentLabel">COMPLETE</span>
        <span>4 days</span>        
    </div>
</div>

{% endblock %}
