{% load i18n dropdown %}

<div class="listView integrationList">
  {% if yt_accounts %}
  <div class="listView-header integrationList-channel">{% trans 'YouTube channels' %}</div>
  <div class="listView-header listView-actions"></div>
  {% for yt in yt_accounts %}
    <div class="integrationList-channel">{{ yt.username }}
      <div class="listView-secondaryRow visible">
        <ul>
          {% if yt.sync_subtitles %}
            <li>{% trans 'Exports subtitles from Amara to YouTube' %} </li>
          {% endif %}
          {% if yt.sync_teams.count %}
            <li>{% trans 'Exports subtitles from Amara to YouTube for other teams' %} </li>
          {% endif %}
          {% if yt.fetch_initial_subtitles %}
            <li>{% trans 'Imports subtitles from YouTube when videos are added to Amara' %} </li>
          {% endif %}
          {% if yt.imports_to_owner_team %}
            <li>{% trans 'Imports videos to this team' %} </li>
          {% elif yt.imports_to_other_team %}
            <li>
              {% blocktrans with team=yt.import_team %}
                Imports videos to {{ team }}
              {% endblocktrans %}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="listView-actions">
      <button class="listView-action"><span class="fa fa-edit"></span></button>
      <button class="listView-action"><span class="fa fa-trash"></span></button>
      {% dropdown-button-icon "context-menu-youtube" "listView-action" data_selection=yt.pk %}
      {% include 'future/teams/settings/_integrations_context_menu.html' with menu_id="context-menu-youtube" form_name="edit-youtube" %}
    </div>      
  {% endfor %}  
  {% endif %}

  {% if vimeo_accounts %}
  <div class="listView-header integrationList-channel">{% trans 'Vimeo channels' %}</div>
  <div class="listView-header listView-actions"></div>

  {% for vimeo in vimeo_accounts %}
    <div class="integrationList-channel">{{ vimeo.username }}
      <div class="listView-secondaryRow visible">
        <ul>
          {% if vimeo.sync_subtitles %}
            <li>{% trans 'Exports subtitles from Amara to Vimeo' %} </li>
          {% endif %}
          {% if vimeo.sync_teams.count %}
            <li>{% trans 'Exports subtitles from Amara to Vimeo for other teams' %} </li>
          {% endif %}
          {% if vimeo.fetch_initial_subtitles %}
            <li>{% trans 'Imports subtitles from Vimeo when videos are added to Amara' %} </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <div class="listView-actions">
      <button class="listView-action"><span class="fa fa-edit"></span></button>
      <button class="listView-action"><span class="fa fa-trash"></span></button>
      {% dropdown-button-icon "context-menu-vimeo" "listView-action" data_selection=vimeo.pk %}
      {% include 'future/teams/settings/_integrations_context_menu.html' with menu_id="context-menu-vimeo" form_name="edit-vimeo" %}
    </div>      
  {% endfor %}
  {% endif %}  

  {% if kaltura_accounts %}
  <div class="listView-header integrationList-channel">{% trans 'Kaltura account' %}</div>
  <div class="listView-header listView-actions"></div>

  {% for kaltura in kaltura_accounts %}
    <div class="integrationList-channel">{{ kaltura.partner_id }}
      <!-- no secondary info for Kaltura accounts -->
    </div>
    <div class="listView-actions">
      <button class="listView-action"><span class="fa fa-edit"></span></button>
      <button class="listView-action"><span class="fa fa-trash"></span></button>
      {% dropdown-button-icon "context-menu-kaltura" "listView-action" data_selection=kaltura.pk %}
      {% include 'future/teams/settings/_integrations_context_menu.html' with menu_id="context-menu-kaltura" form_name="edit-kaltura" %}
    </div>      
  {% endfor %}
  {% endif %}

  {% if brightcove_accounts %}
  <div class="listView-header integrationList-channel">{% trans 'BrightcoveCMS account' %}</div>
  <div class="listView-header listView-actions"></div>

  {% for brightcove in brightcove_accounts %}
    <div class="integrationList-channel">{{ brightcove.client_id }}
      <!-- no secondary info for BrightcoveCMS accounts -->
    </div>
    <div class="listView-actions">
      <button class="listView-action"><span class="fa fa-edit"></span></button>
      <button class="listView-action"><span class="fa fa-trash"></span></button>
      {% dropdown-button-icon "context-menu-brightcove" "listView-action" data_selection=brightcove.pk %}
      {% include 'future/teams/settings/_integrations_context_menu.html' with menu_id="context-menu-brightcove" form_name="edit-brightcove" %}
    </div>      
  {% endfor %}
  {% endif %}
  
</div>
