{% extends "future/teams/settings/base.html" %}
{% load i18n forms modal captureas %}

{% block settings_form %}
<form>
<div class="contentHeader">
  <div class="contentHeader-title">{% trans 'Accounts' %}</div>
  {{ formset.search }}
  <button data-target="#add-account" class="contentHeader-addButton modal-show">
    <span class="fa fa-plus"></span>
    <span class="contentHeader-addButtonText">{% trans 'Add account' %}</span>
  </button>
</div>
</form>

{% include "future/teams/settings/forms/integrations-add.html" %}

{% endblock %}
