{% load i18n dropdown %}

{% if yt_accounts or vimeo_accounts or kaltura_accounts or brightcove_accounts %}
<div class="listView integrationList">
  {% if yt_accounts %}
  <div class="listView-header integrationList-channel">{% trans 'YouTube channels' %}</div>
  <div class="listView-header listView-actions"></div>
  {% for yt in yt_accounts %}
    <div class="integrationList-channel">
      <a class="ajaxLink" data-href="{% url 'teams:settings_externalsites' team.slug %}?form=edit-youtube&selection={{ yt.pk }}">
        {{ yt.username }}
      </a>
      <div class="listView-secondaryRow visible">
        <ul>
          {% if yt.sync_subtitles %}
            <li>{% trans 'Exports subtitles from Amara to YouTube' %} </li>
          {% endif %}
          {% if yt.sync_teams.count %}
            <li>{% trans 'Exports subtitles from Amara to YouTube for other teams' %} </li>
          {% endif %}
          {% if yt.fetch_initial_subtitles %}
            <li>{% trans 'Imports subtitles from YouTube when videos are added to Amara' %} </li>
          {% endif %}
          {% if yt.imports_to_owner_team %}
            <li>{% trans 'Imports videos to this team' %} </li>
          {% elif yt.imports_to_other_team %}
            <li>
              {% blocktrans with team=yt.import_team %}
                Imports videos to {{ team }}
              {% endblocktrans %}
            </li>
          {% endif %}
        </ul>
      </div>
    </div>
    
    {% include 'future/teams/settings/_integrations_actions.html' with menu_id="context-menu-youtube" form_name="edit-youtube" remove_form_name="remove-youtube" pk=yt.pk %}
  {% endfor %}  
  {% endif %}

  {% if vimeo_accounts %}
  <div class="listView-header integrationList-channel">{% trans 'Vimeo channels' %}</div>
  <div class="listView-header listView-actions"></div>

  {% for vimeo in vimeo_accounts %}
    <div class="integrationList-channel">
      <a class="ajaxLink" data-href="{% url 'teams:settings_externalsites' team.slug %}?form=edit-vimeo&selection={{ vimeo.pk }}">
        {{ vimeo.username }}
      </a>
      <div class="listView-secondaryRow visible">
        <ul>
          {% if vimeo.sync_subtitles %}
            <li>{% trans 'Exports subtitles from Amara to Vimeo' %} </li>
          {% endif %}
          {% if vimeo.sync_teams.count %}
            <li>{% trans 'Exports subtitles from Amara to Vimeo for other teams' %} </li>
          {% endif %}
          {% if vimeo.fetch_initial_subtitles %}
            <li>{% trans 'Imports subtitles from Vimeo when videos are added to Amara' %} </li>
          {% endif %}
        </ul>
      </div>
    </div>

    {% include 'future/teams/settings/_integrations_actions.html' with menu_id="context-menu-vimeo" form_name="edit-vimeo" remove_form_name="remove-vimeo" pk=vimeo.pk %}
  {% endfor %}
  {% endif %}  

  {% if kaltura_accounts %}
  <div class="listView-header integrationList-channel">{% trans 'Kaltura account' %}</div>
  <div class="listView-header listView-actions"></div>

  {% for kaltura in kaltura_accounts %}
    <div class="integrationList-channel">
      <a class="ajaxLink" data-href="{% url 'teams:settings_externalsites' team.slug %}?form=edit-kaltura&selection={{ kaltura.pk }}">
        {{ kaltura.partner_id }}
      </a>
      <!-- no secondary info for Kaltura accounts -->
    </div>

    {% include 'future/teams/settings/_integrations_actions.html' with menu_id="context-menu-kaltura" form_name="edit-kaltura" remove_form_name="remove-kaltura" pk=kaltura.pk %}   
  {% endfor %}
  {% endif %}

  {% if brightcove_accounts %}
  <div class="listView-header integrationList-channel">{% trans 'BrightcoveCMS account' %}</div>
  <div class="listView-header listView-actions"></div>

  {% for brightcove in brightcove_accounts %}
    <div class="integrationList-channel">
      <a class="ajaxLink" data-href="{% url 'teams:settings_externalsites' team.slug %}?form=edit-brightcove&selection={{ brightcove.pk }}">
        {{ brightcove.client_id }}
      </a>
      <!-- no secondary info for BrightcoveCMS accounts -->
    </div>

    {% include 'future/teams/settings/_integrations_actions.html' with menu_id="context-menu-brightcove" form_name="edit-brightcove" remove_form_name="remove-brightcove" pk=brightcove.pk %}     
  {% endfor %}
  {% endif %}
  
</div>

{% else %}

<div class="zero-state">
  {% trans 'No integration accounts' %}
</div>

{% endif %}
