{% extends "future/teams/base.html" %}

{% load i18n forms dropdown %}

{% block content %}
<section class="container">
  <div class="contentHeader">
    <div class="contentHeader-title">{% trans "Members" %}</div>
    {{ filters_form.q }}
    {% if user.is_staff or show_invite_link %}
    <button type="button" data-href="{% url "teams:invite" team.slug %}" class="contentHeader-addButton ajaxLink">
      <span class="fa fa-plus"></span>
      <span class="contentHeader-addButtonText">{% if user.is_staff and not show_invite_link %}{% trans 'Add members' %}{% elif user.is_staff %}{% trans 'Add/Invite members' %}{% else %}{% trans 'Invite members' %}{% endif %}</span>
    </button>
    {% endif %}
  </div>

  <div class="filterBox" data-sort-default="recent">
    {% filterbox-dropdown-button "member-filters" _("Filter and Sort") %}
    {% dropdown "member-filters" %}
    {% dropdown-js-item _('Team role') 'role' %}
    {% dropdown-js-item _('Language spoken') 'language' %}
    {% dropdown-js-item _('Change Sort') 'sort' separator=True %}
    {% enddropdown %}
    <div class="filterBox-fields">
      {% render_field filters_form.role %}
      {% render_field filters_form.language %}
      {% render_field filters_form.sort %}
    </div>
  </div>
  <div id="member-list-all">
    {% include "future/teams/members/member-list.html" %}
  </div>
</section>
{% endblock %}

{% block oldcontent %}
<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <div class="content">
          <div class="row">
            <div class="col-sm-3">
              <header><h2>{% trans "Filters" %}</h2></header><br>
              <form method="GET" action="" class="ajaxForm updateOnChange updateLocation">
                {{ filters_form.q.as_hidden }}
                {{ filters_form.sort.as_hidden }}
                {{ filters_form.role|render_filter_field }}
                {{ filters_form.language|render_filter_field }}
              </form>
            </div>
            <div class="col-sm-9">
              <div class="row filters">
                <div class="col-xs-8 proxyField" data-proxy-for="#id_q">
                  {{ filters_form.q|render_field }}
                </div>
                <div class="col-xs-4 proxyField" data-proxy-for="#id_sort">
                  {{ filters_form.sort|render_field }}
                </div>
              </div>
            <div id="member-list-all">
            {% include "future/teams/members/member-list.html" %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}
