{% extends "future/teams/videos/base.html" %}
{% load i18n teams_tags %}
{% load url from future %}
{% block tabs %}
<!-- Overriding extra_tabs with extra_tabs_ from context since custom tags can't take multiple arguments -->
{% with extra_tabs=extra_tabs_ %}
{% if extra_tabs %}
<ul class="nav nav-tabs">
  {% for tab in extra_tabs %}
  <li{% if current_tab == tab.name %} class="active"{% endif %}><a href="{{ tab.url }}">{{ tab.label }}</a></li>
  {% endfor %}

  {% comment %}
  {% if project_id %}
  <li{% if current_tab == "videos" %} class="active"{% endif %}><a href="{% url "teams:manage_videos_project" team.slug project_id %}">{% trans "Videos" %}</a></li>
  {% endif %}
  {% endcomment %}
  
</ul>
{% else %}
<h1>{% trans "Videos" %}</h1>
{% endif %}
{% endwith %}
{% endblock %}
