{% if GOOGLE_ANALYTICS_NUMBER %}
<script async src="https://www.googletagmanager.com/gtag/js?id={{ GOOGLE_ANALYTICS_NUMBER }}"></script>
<script type="text/javascript">
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', '{{ GOOGLE_ANALYTICS_NUMBER }}');
{% if GOOGLE_ADWORDS_CODE %}
  gtag('config', '{{ GOOGLE_ADWORDS_CODE }}');
{% endif %}

  function sendAnalytics(category, action, label) {
    gtag('event', action, {
      'event_category': category,
      'event_label': label
    });
  };
</script>
{% else %}
<script type="text/javascript">
  // no analytics since we are running locally
  function sendAnalytics(category, action, label) {
    if(label) {
      console.log('sendAnalytics: ', category, action, label);
    } else {
      console.log('sendAnalytics: ', category, action);
    }
  };
  {% endif %}
</script>
