{% load i18n forms modal captureas %}

{% captureas modal_title %}
  {% blocktrans %}
    Edit {{ title_type_label }} integration
  {% endblocktrans %}
{% endcaptureas %}

{% startmodal "edit-account" modal_title %}

  <h4 class="modal-header">
    {% blocktrans %}
      Linked account: {{ account_name }}
    {% endblocktrans %}
  </h4>

  <form class="ajaxForm" method="POST" action="{% url 'externalsites:team-edit-external-account' team.slug %}">

    <div class="modal-content">
      
        {% csrf_token %}
        <input type="hidden" value="{{ account_type }}" name="accountType"/>
        <input type="hidden" value="{{ account_pk }}" name="accountPk"/>
        {% render_field form.sync_subtitles %}
        {% render_field form.fetch_initial_subtitles %}
        {% render_field form.sync_teams %}

        <!-- import metadata is in teams.models.Team.sync_metadata -->
      
    </div>
    <div class="modal-footer">
      <button class="button borderless modal-close">Cancel</button>
      <button class="button cta" type="submit">Save</button>
    </div>

  </form>

{% endmodal %}