{% load i18n ui %}
<div class="listView videoUrls">

  {% for video_url, sync_account in video_urls %}
  <div>
    <a href="{{ video_url.url }}" target="_blank">{{ video_url.url }}</a>
    <div class="listView-secondary visible">
      {% blocktrans with user=video_url.added_by date=video_url.created|date %}Added {{ date }} by {{ user }}{% endblocktrans %}
    </div>
  </div>
  <div>
    <span class="badge plum">{% blocktrans with format=video_url.get_type_display %}Format: {{ format }}{% endblocktrans %}</span>
    {% if video_url.primary %}<span class="badge lime">{% trans "Primary" %}</span>{% endif %}
    {% if video_url.original %}<span class="badge amaranth">{% trans "Original" %}</span>{% endif %}
    {% if sync_account %}<span class="badge teal">{% trans "Synced" %}</span>{% endif %}
  </div>
  {% endfor %}

  {% comment %}
  <tr data-url="{{ video_url.url }}" data-id="{{ video_url.id }}"{% if video_url.primary %} class="primary"{% endif %}>
    <td>{{ video_url.get_type_display }}</td>
    <td><a href="{{ video_url.url }}" target="_blank">{{ video_url.url }}</a></td>
    <td>
      {% if not video_url.primary %}
      {% if allow_delete or allow_make_primary %}
      <div class="pull-right">
        {% if allow_make_primary %}<button class="button inline videoPage-showUrlDialog" data-target="#make-url-primary-dialog">{% trans "make primary" %}</button>{% endif %}
        {% if allow_delete %}<button class="button inline videoPage-showUrlDialog" data-target="#delete-url-dialog">{% trans "delete" %}</button>{% endif %}
      </div>
      {% endif %}
      {% endif %}
    </td>
  </tr>
  {% endcomment %}
</div>
{% if create_url_form %}
<section>
<button class="button cta modal-show" data-target="#add-url-dialog">{% trans "Add URL" %}</button>
</section>
{% endif %}
